<footer class="pagefooter" id="pagefooter">
	<div class="container">
		<div class="footer-wrapper">
			<h2 class="pagefooter-title">Contacts</h2>
			<div class="footer-wrapper-inner">
				<address class="pagefooter-address">
					<ul class="pagefooter-address-list">
						<li class="pagefooter-address-list-item">
							<a
								class="pagefooter-address-list-item-link"
								target="_blank"
								href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9F%D0%B5%D1%82%D1%80%D0%B0+%D0%94%D0%BE%D1%80%D0%BE%D1%88%D0%B5%D0%BD%D0%BA%D0%BE,+44,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.8375772,24.0196501,17z/data=!3m1!4b1!4m6!3m5!1s0x473add701560834d:0x404791f70e3e2d2!8m2!3d49.8375738!4d24.022225!16s%2Fg%2F1tfycbny?hl=ru&entry=ttu&g_ep=EgoyMDI1MDEyNi4wIKXMDSoASAFQAw%3D%3D"
							>
								<svg class="pagefooter-address-list-item-link-pic" width="32" height="32">
									<use href="/img/icons.svg#icon-place"></use>
								</svg>
								<p class="pagefooter-address-list-item-link-text">Lviv, st Dorosheko, 44 k</p>
							</a>
						</li>
						<li class="pagefooter-address-list-item">
							<a class="pagefooter-address-list-item-link" href="tel:+380971626790">
								<svg class="pagefooter-address-list-item-link-pic" width="32" height="32">
									<use href="/img/icons.svg#icon-phone"></use>
								</svg>
								<p class="pagefooter-address-list-item-link-text">+38 (097) 162 -67-90</p>
							</a>
						</li>
						<li class="pagefooter-address-list-item">
							<a class="pagefooter-address-list-item-link" href="mailto:mandrykarpaty@gmail.com">
								<svg class="pagefooter-address-list-item-link-pic" width="32" height="32">
									<use href="/img/icons.svg#icon-email"></use>
								</svg>
								<p class="pagefooter-address-list-item-link-text">mandrykarpaty@gmail.com</p>
							</a>
						</li>
					</ul>
				</address>
				<ul class="pagefooter-socials">
					<li class="pagefooter-socials-item">
						<a class="pagefooter-socials-item-link" href="https://web.telegram.org/a/" target="_blank">
							<svg class="pagefooter-socials-item-link-pic" width="33" height="33">
								<use href="/img/icons.svg#icon-telegram"></use>
							</svg>
						</a>
					</li>
					<li class="pagefooter-socials-item">
						<a class="pagefooter-socials-item-link" href="https://www.instagram.com/" target="_blank">
							<svg class="pagefooter-socials-item-link-pic" width="33" height="33">
								<use href="/img/icons.svg#icon-instagram"></use>
							</svg>
						</a>
					</li>
					<li class="pagefooter-socials-item">
						<a class="pagefooter-socials-item-link" href="https://www.facebook.com/?locale=ru_RU" target="_blank">
							<svg class="pagefooter-socials-item-link-pic" width="33" height="33">
								<use href="/img/icons.svg#icon-facebook"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<p class="pagefooter-copyright">&copy; Created by LelekaSoft</p>
</footer>
