<section class="galery" id="galery">
	<div class="container">
		<h2 class="galery-title">Gallery</h2>
		<div class="gallery-wrapper">
			<ul class="galery-list">
				<li class="galery-list-item">
					<a href="./gallery-modal-first.jpg">
						<picture>
							<source
								media="(min-width: 1440px)"
								srcset="
									/img/galery/gallery-desc/gallery-desc-first.jpg    1x,
									/img/galery/gallery-desc/gallery-desc-first@2x.jpg 2x
								"
							/>
							<source
								media="(min-width: 768px)"
								srcset="
									/img/galery/galery-tab/galery-first-tab.jpg    1x,
									/img/galery/galery-tab/galery-first-tab@2x.jpg 2x
								"
							/>
							<source
								media="(max-width: 767px)"
								srcset="/img/galery/galery-first.jpg 1x, /img/galery/galery-first@2x.jpg 2x"
							/>
							<img
								class="galery-list-item-image"
								src="/img/galery/galery-first.jpg"
								srcset="/img/galery/galery-first@2x.jpg 2x"
								alt="Sunrise in mountains"
							/>
						</picture>
					</a>
				</li>
				<li class="galery-list-item">
					<a href="./gallery-modal-second.jpg">
						<picture>
							<source
								media="(min-width: 1440px)"
								srcset="
									/img/galery/gallery-desc/gallery-desc-second.jpg    1x,
									/img/galery/gallery-desc/gallery-desc-second@2x.jpg 2x
								"
							/>
							<source
								media="(min-width: 768px)"
								srcset="
									/img/galery/galery-tab/galery-second-tab.jpg    1x,
									/img/galery/galery-tab/galery-second-tab@2x.jpg 2x
								"
							/>
							<source
								media="(max-width: 767px)"
								srcset="/img/galery/galery-second.jpg 1x, /img/galery/galery-second@2x.jpg 2x"
							/>
							<img
								class="galery-list-item-image"
								src="/img/galery/galery-second.jpg"
								srcset="/img/galery/galery-second@2x.jpg 2x"
								alt="Sunset over the forest"
							/>
						</picture>
					</a>
				</li>
				<li class="galery-list-item">
					<a href="./gallery-modal-third.jpg">
						<picture>
							<source
								media="(min-width: 1440px)"
								srcset="
									/img/galery/gallery-desc/gallery-desc-third.jpg    1x,
									/img/galery/gallery-desc/gallery-desc-third@2x.jpg 2x
								"
							/>
							<source
								media="(min-width: 768px)"
								srcset="
									/img/galery/galery-tab/galery-third-tab.jpg    1x,
									/img/galery/galery-tab/galery-third-tab@2x.jpg 2x
								"
							/>
							<source
								media="(max-width: 767px)"
								srcset="/img/galery/galery-third.jpg 1x, /img/galery/galery-third@2x.jpg 2x"
							/>
							<img
								class="galery-list-item-image"
								src="/img/galery/galery-third.jpg"
								srcset="/img/galery/galery-third@2x.jpg 2x"
								alt="River in the forest"
							/>
						</picture>
					</a>
				</li>
				<li class="galery-list-item">
					<a href="./gallery-modal-fourth.jpg">
						<picture>
							<source
								media="(min-width: 1440px)"
								srcset="
									/img/galery/gallery-desc/gallery-desc-fourth.jpg    1x,
									/img/galery/gallery-desc/gallery-desc-fourth@2x.jpg 2x
								"
							/>
							<source
								media="(min-width: 768px)"
								srcset="
									/img/galery/galery-tab/galery-fourth-tab.jpg    1x,
									/img/galery/galery-tab/galery-fourth-tab@2x.jpg 2x
								"
							/>
							<source
								media="(max-width: 767px)"
								srcset="/img/galery/galery-fourth.jpg 1x, /img/galery/galery-fourth@2x.jpg 2x"
							/>
							<img
								class="galery-list-item-image"
								src="/img/galery/galery-fourth.jpg"
								srcset="/img/galery/galery-fourth@2x.jpg 2x"
								alt="Field with flowers"
							/>
						</picture>
					</a>
				</li>
				<li class="galery-list-item">
					<a href="./gallery-modal-fifth.jpg">
						<picture>
							<source
								media="(min-width: 1440px)"
								srcset="
									/img/galery/gallery-desc/gallery-desc-fifth.jpg    1x,
									/img/galery/gallery-desc/gallery-desc-fifth@2x.jpg 2x
								"
							/>
							<source
								media="(min-width: 768px)"
								srcset="
									/img/galery/galery-tab/galery-fifth-tab.jpg    1x,
									/img/galery/galery-tab/galery-fifth-tab@2x.jpg 2x
								"
							/>
							<source
								media="(max-width: 767px)"
								srcset="/img/galery/galery-fifth.jpg 1x, /img/galery/galery-fifth@2x.jpg 2x"
							/>
							<img
								class="galery-list-item-image"
								src="/img/galery/galery-fifth.jpg"
								srcset="/img/galery/galery-fifth@2x.jpg 2x"
								alt="Lake in the mountains"
							/>
						</picture>
					</a>
				</li>
				<li class="galery-list-item">
					<a href="./gallery-modal-sixth.jpg">
						<picture>
							<source
								media="(min-width: 1440px)"
								srcset="
									/img/galery/gallery-desc/gallery-desc-sixth.jpg    1x,
									/img/galery/gallery-desc/gallery-desc-sixth@2x.jpg 2x
								"
							/>
							<source
								media="(min-width: 768px)"
								srcset="
									/img/galery/galery-tab/galery-sixth-tab.jpg    1x,
									/img/galery/galery-tab/galery-sixth-tab@2x.jpg 2x
								"
							/>
							<source
								media="(max-width: 767px)"
								srcset="/img/galery/galery-sixth.jpg 1x, /img/galery/galery-sixth@2x.jpg 2x"
							/>
							<img
								class="galery-list-item-image"
								src="/img/galery/galery-sixth.jpg"
								srcset="/img/galery/galery-sixth@2x.jpg 2x"
								alt="Snowy forest"
							/>
						</picture>
					</a>
				</li>
				<li class="galery-list-item">
					<a href="./gallery-modal-seventh.jpg">
						<picture>
							<source
								media="(min-width: 1440px)"
								srcset="
									/img/galery/gallery-desc/gallery-desc-seventh.jpg    1x,
									/img/galery/gallery-desc/gallery-desc-seventh@2x.jpg 2x
								"
							/>
							<source
								media="(min-width: 768px)"
								srcset="
									/img/galery/galery-tab/galery-seventh-tab.jpg    1x,
									/img/galery/galery-tab/galery-seventh-tab@2x.jpg 2x
								"
							/>
							<source
								media="(max-width: 767px)"
								srcset="/img/galery/galery-seventh.jpg 1x, /img/galery/galery-seventh@2x.jpg 2x"
							/>
							<img
								class="galery-list-item-image"
								src="/img/galery/galery-seventh.jpg"
								srcset="/img/galery/galery-seventh@2x.jpg 2x"
								alt="Snowy mountain"
							/>
						</picture>
					</a>
				</li>
				<li class="galery-list-item">
					<a href="./gallery-modal-eighth.jpg">
						<picture>
							<source
								media="(min-width: 1440px)"
								srcset="
									/img/galery/gallery-desc/gallery-desc-eigth.jpg    1x,
									/img/galery/gallery-desc/gallery-desc-eigth@2x.jpg 2x
								"
							/>
							<source
								media="(min-width: 768px)"
								srcset="
									/img/galery/galery-tab/galery-eighth-tab.jpg    1x,
									/img/galery/galery-tab/galery-eighth-tab@2x.jpg 2x
								"
							/>
							<source
								media="(max-width: 767px)"
								srcset="/img/galery/galery-eighth.jpg 1x, /img/galery/galery-eighth@2x.jpg 2x"
							/>
							<img
								class="galery-list-item-image"
								src="/img/galery/galery-eighth.jpg"
								srcset="/img/galery/galery-eighth@2x.jpg 2x"
								alt="Evening in the village in the mountains"
							/>
						</picture>
					</a>
				</li>
			</ul>
		</div>

		<ul class="upcoming-list">
			<li class="upcoming-list-item">
				<button type="button" class="upcoming-list-item-button" id="galery-button-left" disabled>
					<svg class="upcoming-list-item-button-pic" width="11" height="19" id="galery-left-button-scroll">
						<use href="/img/icons.svg#icon-left"></use>
					</svg>
				</button>
			</li>
			<li class="upcoming-list-item">
				<button type="button" class="upcoming-list-item-button" id="galery-button-right">
					<svg class="upcoming-list-item-button-pic" id="galery-right-button-scroll" width="11" height="19">
						<use href="/img/icons.svg#icon-right"></use>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</section>
