<section class="hero">
	<div class="container">
		<h1 class="pageheader-title" id="pageheader-title">
			TOURS <span class="pageheader-title-break">TO</span> THE
			<span class="pageheader-title-long">CARPATHIANS</span> FROM LVIV
		</h1>
		<p class="pageheader-text" id="pageheader-text">
			Journeys to the very heart of the Carpathians for those who want a real reboot
		</p>
		<button class="pageheader-book" id="pageheader-book" data-modal-window>BOOK A TOUR</button>
	</div>

	<div class="mobile-menu" id="mobile-menu">
		<div class="container">
			<nav class="mobile-menu-nav">
				<ul class="mobile-menu-nav-list">
					<li><a class="mobile-menu-nav-list-link" href="#about">About us</a></li>
					<li><a class="mobile-menu-nav-list-link" href="#upcoming">Tours</a></li>
					<li><a class="mobile-menu-nav-list-link" href="#reviews">Reviews</a></li>
					<li><a class="mobile-menu-nav-list-link" href="#galery">Gallery</a></li>
					<li><a class="mobile-menu-nav-list-link" href="#pagefooter">Contacts</a></li>
				</ul>
			</nav>

			<ul class="mobile-menu-social-list">
				<li>
					<a class="mobile-menu-social-list-link" href="https://web.telegram.org/a/" target="_blank">
						<svg class="mobile-menu-social-list-link-pic" width="33" height="33">
							<use href="/img/icons.svg#icon-telegram"></use>
						</svg>
					</a>
				</li>
				<li>
					<a class="mobile-menu-social-list-link" href="https://www.instagram.com/" target="_blank">
						<svg class="mobile-menu-social-list-link-pic" width="33" height="33">
							<use href="/img/icons.svg#icon-instagram"></use>
						</svg>
					</a>
				</li>
				<li>
					<a class="mobile-menu-social-list-link" href="https://www.facebook.com/?locale=ru_RU" target="_blank">
						<svg class="mobile-menu-social-list-link-pic" width="33" height="33">
							<use href="/img/icons.svg#icon-facebook"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="dark-window"></div>

	<ul class="mobile-menu-social-list-desctop">
		<li>
			<a class="mobile-menu-social-list-link" href="https://web.telegram.org/a/" target="_blank">
				<svg class="mobile-menu-social-list-link-pic" width="33" height="33">
					<use href="/img/icons.svg#icon-telegram"></use>
				</svg>
			</a>
		</li>
		<li>
			<a class="mobile-menu-social-list-link" href="https://www.instagram.com/" target="_blank">
				<svg class="mobile-menu-social-list-link-pic" width="33" height="33">
					<use href="/img/icons.svg#icon-instagram"></use>
				</svg>
			</a>
		</li>
		<li>
			<a class="mobile-menu-social-list-link" href="https://www.facebook.com/?locale=ru_RU" target="_blank">
				<svg class="mobile-menu-social-list-link-pic" width="33" height="33">
					<use href="/img/icons.svg#icon-facebook"></use>
				</svg>
			</a>
		</li>
	</ul>
</section>
