<section class="reviews" id="reviews">
	<div class="container">
		<h2 class="reviews-title">Reviews</h2>
		<div class="reviews-block">
			<div class="reviews-inner">
				<div class="reviews-card">
					<img
						class="reviews-card-photo"
						src="/img/reviews/reviews-girl-face.webp"
						srcset="/img/reviews/reviews-girl-face@2x.webp 2x"
						alt="photo of Maria"
					/>
					<div class="reviews-card-sunset"></div>
					<div class="reviews-card-review">
						<h3 class="reviews-card-review-name">Maria</h3>
						<p class="reviews-card-review-text">
							It was really cool! We saw everything - sun, snow, rain, fog! It's very exciting and interesting, you
							won't regret it - it's worth going and seeing everything with your own eyes. Everything is organized at
							the highest level.
						</p>
						<button class="reviews-card-review-button">
							<svg width="27" height="16" class="reviews-card-review-button-back">
								<use href="/img/icons.svg#icon-round"></use>
							</svg>
						</button>
					</div>
				</div>
				<div class="reviews-card-back">
					<picture>
						<source
							media="(max-width: 767px)"
							srcset="/img/reviews/reviews-maria.jpg 1x, /img/reviews/reviews-maria@2x.jpg 2x"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="/img/reviews/reviews-maria-desc.jpg 1x, /img/reviews/reviews-maria-desc@2x.jpg 2x"
						/>
						<source
							media="(min-width: 768px)"
							srcset="/img/reviews/reviews-maria-tab.jpg 1x, /img/reviews/reviews-maria-tab@2x.jpg 2x"
						/>
						<img
							class="reviews-card-back-img"
							src="/img/reviews/reviews-maria.jpg"
							srcset="/img/reviews/reviews-maria@2x.jpg 2x"
							alt="photo of maria in mountains"
						/>
					</picture>

					<button class="reviews-card-review-button to-front">
						<svg width="27" height="16" class="reviews-card-review-button-back">
							<use href="/img/icons.svg#icon-round"></use>
						</svg>
					</button>
				</div>
			</div>
			<div class="reviews-inner">
				<div class="reviews-card">
					<img
						class="reviews-card-photo"
						src="/img/reviews/reviews-ostap-face.webp"
						srcset="/img/reviews/reviews-ostap-face@2x.webp 2x"
						alt="photo of Ostap"
					/>
					<div class="reviews-card-sunset"></div>
					<div class="reviews-card-review">
						<h3 class="reviews-card-review-name">Ostap</h3>
						<p class="reviews-card-review-text">
							Good organization, everything went smoothly. Friendly guide Taras told interesting facts about the area
							and customs throughout the tour. lorem100
						</p>
						<button class="reviews-card-review-button">
							<svg width="27" height="16" class="reviews-card-review-button-back">
								<use href="/img/icons.svg#icon-round"></use>
							</svg>
						</button>
					</div>
				</div>
				<div class="reviews-card-back">
					<picture>
						<source
							media="(max-width: 767px)"
							srcset="/img/reviews/reviews-ostap.jpg 1x, /img/reviews/reviews-ostap@2x.jpg 2x"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="/img/reviews/reviews-ostap-desc.jpg 1x, /img/reviews/reviews-ostap-desc@2x.jpg 2x"
						/>
						<source
							media="(min-width: 768px)"
							srcset="/img/reviews/reviews-ostap-tab.jpg 1x, /img/reviews/reviews-ostap-tab@2x.jpg 2x"
						/>
						<img
							class="reviews-card-back-img"
							src="/img/reviews/reviews-ostap.jpg"
							srcset="/img/reviews/reviews-ostap@2x.jpg 2x"
							alt="photo of ostap in mountains"
						/>
					</picture>
					<button class="reviews-card-review-button to-front">
						<svg width="27" height="16" class="reviews-card-review-button-back">
							<use href="/img/icons.svg#icon-round"></use>
						</svg>
					</button>
				</div>
			</div>
			<div class="reviews-inner">
				<div class="reviews-card">
					<img
						class="reviews-card-photo"
						src="/img/reviews/reviews-anita-face.webp"
						srcset="/img/reviews/reviews-anita-face@2x.webp 2x"
						alt="photo of Anita"
					/>
					<div class="reviews-card-sunset"></div>
					<div class="reviews-card-review">
						<h3 class="reviews-card-review-name">Anita</h3>
						<p class="reviews-card-review-text">
							Who is going to the mountains for the first time - this is exactly the tour and the people who organize
							everything. Guide Makar is interesting stories, selection of a route for a comfortable ascent, motivation
							and support.
						</p>
						<button class="reviews-card-review-button">
							<svg width="27" height="16" class="reviews-card-review-button-back">
								<use href="/img/icons.svg#icon-round"></use>
							</svg>
						</button>
					</div>
				</div>
				<div class="reviews-card-back">
					<img
						class="reviews-card-back-img"
						src="/img/reviews/reviews-anita.jpg"
						srcset="/img/reviews/reviews-anita@2x.jpg 2x"
						alt="photo of anita in mountains"
					/>
					<button class="reviews-card-review-button to-front">
						<svg width="27" height="16" class="reviews-card-review-button-back">
							<use href="/img/icons.svg#icon-round"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
