<section class="upcoming" id="upcoming">
	<div class="container">
		<h2 class="upcoming-title">Upcoming tours</h2>
		<ul class="upcoming-tours-list" id="upcoming-tours-list">
			<li class="upcoming-tours-list-item">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="
							/img/upcoming/upcoming-desctop/hoverla-desc.jpg    1x,
							/img/upcoming/upcoming-desctop/hoverla-desc@2x.jpg 2x
						"
					/>
					<source
						media="(min-width: 768px)"
						srcset="/img/upcoming/hoverla-tab.jpg 1x, /img/upcoming/hoverla-tab@2x.jpg 2x"
					/>

					<source media="(max-width: 767px)" srcset="/img/upcoming/hoverla.jpg 1x, /img/upcoming/hoverla@2x.jpg 2x" />
					<img
						src="/img/upcoming/hoverla.jpg"
						srcset="/img/upcoming/hoverla.jpg 1x, /img/upcoming/hoverla@2x.jpg 2x"
						alt="hoverla nature"
					/>
				</picture>
				<div class="upcoming-block">
					<h3 class="upcoming-block-title">Ascent to Hoverla</h3>
					<p class="upcoming-block-text">From UAH 4,499/person</p>
					<button class="upcoming-block-button" id="book-hoverla" data-toggle-modal="hoverla">MORE DETAILS</button>
				</div>
			</li>

			<li class="upcoming-tours-list-item">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="
							/img/upcoming/upcoming-desctop/bukovel-desc.jpg    1x,
							/img/upcoming/upcoming-desctop/bukovel-desc@2x.jpg 2x
						"
					/>
					<source
						media="(min-width: 768px)"
						srcset="/img/upcoming/bukovel-tab.jpg 1x, /img/upcoming/bukovel-tab@2x.jpg 2x"
					/>
					<source media="(max-width: 767px)" srcset="/img/upcoming/bukovel.jpg 1x, /img/upcoming/bukovel@2x.jpg 2x" />
					<img
						class="upcoming-img"
						src="/img/upcoming/bukovel.jpg"
						srcset="/img/upcoming/bukovel.jpg 1x, /img/upcoming/bukovel@2x.jpg 2x"
						alt="bukovel nature"
					/>
				</picture>
				<div class="upcoming-block">
					<h3 class="upcoming-block-title">Ski tour to Bukovel</h3>
					<p class="upcoming-block-text">From UAH 7,499/person</p>
					<button class="upcoming-block-button" id="book-bukovel" data-toggle-modal="bukovel">MORE DETAILS</button>
				</div>
			</li>

			<li class="upcoming-tours-list-item">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="
							/img/upcoming/upcoming-desctop/carpathians-desc.jpg    1x,
							/img/upcoming/upcoming-desctop/carpathians-desc@2x.jpg 2x
						"
					/>
					<source
						media="(min-width: 768px)"
						srcset="/img/upcoming/carpathians-tab.jpg 1x, /img/upcoming/carpathians-tab@2x.jpg 2x"
					/>
					<source
						media="(max-width: 767px)"
						srcset="/img/upcoming/carpathians.jpg 1x, /img/upcoming/carpathians@2x.jpg 2x"
					/>
					<img
						class="upcoming-img"
						src="/img/upcoming/carpati.jpg"
						srcset="/img/upcoming/carpathians.jpg 1x, /img/upcoming/carpathians@2x.jpg 2x"
						alt="carpati nature"
					/>
				</picture>
				<div class="upcoming-block">
					<h3 class="upcoming-block-title">Week in Carpathians</h3>
					<p class="upcoming-block-text">From UAH 9,999/person</p>
					<button class="upcoming-block-button" id="book-carpathians" data-toggle-modal="carpathians">
						MORE DETAILS
					</button>
				</div>
			</li>
		</ul>

		<ul class="upcoming-list">
			<li class="upcoming-list-item">
				<button type="button" class="upcoming-list-item-button" id="upcoming-button-left" disabled data-swap="left">
					<svg class="upcoming-list-item-button-pic" width="11" height="19" id="left-button-scroll">
						<use href="/img/icons.svg#icon-left"></use>
					</svg>
				</button>
			</li>
			<li class="upcoming-list-item">
				<button type="button" class="upcoming-list-item-button" id="upcoming-button-right" data-swap="right">
					<svg class="upcoming-list-item-button-pic" width="11" height="19">
						<use href="/img/icons.svg#icon-right"></use>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</section>
