@import url('./header.css');
@import url('./hero.css');
@import url('./modal.css');
@import url('./about.css');
@import url('./advantages.css');
@import url('./upcoming-modal.css');
@import url('./upcoming.css');
@import url('./reviews.css');
@import url('./galery.css');
@import url('./question.css');
@import url('./footer.css');

@font-face {
	font-family: 'Gilroy', Arial, sans-serif;
	src: url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('ttf'),
		url('../fonts/Gilroy-Regular.eot') format('eot');
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #f7fbfb;
}

@media screen and (min-width: 1440px) {
	body {
		background-color: #ffffff;
	}
}

ul,
ol {
	list-style-type: none;
}

img {
	max-width: 100%;
	display: block;
}

button {
	display: block;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

fieldset {
	border: none;
}

.container {
	padding: 0 32px;
	max-width: 375px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 20px;
		max-width: 768px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		padding: 0 135px;
		max-width: 1440px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.sl-overlay {
	background-color: black !important;
}

.sl-next,
.sl-prev,
.sl-close {
	color: #f7fbfb !important;
}

html {
	scroll-behavior: smooth;
}
